<!DOCTYPE html>
<html lang="en">
<head>
  <title>Alumnos_HTML</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Estudiantes</h2>
  <p>Vista HTML</p>    
  <p>  </p>        
  <table class="table table-hover">
    <thead>
    </thead>
        <tr>
                    <th>ID_Student</th>
                    <th>Name</th>
                    <th>Surname</th>	
                    <th>email</th>
                    <th>Birthdate</th>
                    <th>Student_id</th>
                    <th>Phone1</th>
                    <th>Phone2</th>
                    <th>Adress1</th>
                    <th>Adress2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12900713165</td>
                    <td>Nixon</td>
                    <td>Archor</td>
                    <td>nachor@dominio.com</td>
                    <td>2010-12-14</td>
                    <td>1245124515</td>
                    <td>44.11.56.92</td>
                    <td>44.11.78.98</td>
                    <td>Guatemala City</td>
                    <td>Antigua Apto2</td>
    
                </tr>
                <tr>
                    <td>12900713165</td>
                    <td>Nicky</td>
                    <td>Carter</td>
                    <td>n-carter@wy.com</td>
                    <td>2010-12-11</td>
                    <td>178888855</td>
                    <td>25.85.78.65.</td>
                    <td>89.57.88.44</td>
                    <td>Guatemala City</td>
                    <td>Calle del arco</td>
                </tr>
                <tr>
                    <td>129099995</td>
                    <td>Romeo</td>
                    <td>Wirtz</td>
                    <td>n-writx@wy.net</td>
                    <td>2010-2-11</td>
                    <td>1785555</td>
                    <td>10.15.24.15</td>
                    <td>89.57.97.85</td>
                    <td>Chimaltenango</td>
                    <td>Apto 2.-45a</td>
                </tr>
               
                <tr>
                    <td>11242595</td>
                    <td>Michael</td>
                    <td>Lopez</td>
                    <td>Javas@Developer.com</td>
                    <td>2000-12-05</td>
                    <td>292929</td>
                    <td>20.11.06.27.04</td>
                    <td>20.11.06.27.05</td>
                    <td>Parramos</td>
                    <td>Chimaltenango</td>
                        </tr>
            <tr>
                    <td>11277795</td>
                    <td>Snider</td>
                    <td>Springs</td>
                    <td>Customer@Support.net</td>
                    <td>1999-04-12 00:00:00</td>
                    <td>010245578</td>
                    <td>20.24.25.36</td>
                    <td>20.27.45.98</td>
                    <td>New York</td>
                    <td>Gran Central</td>
                        </tr>          
    </tbody>
  </table>
</div>

</body>
</html>
